/* Write your global styles here, in PostCSS syntax */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-slate-300; 
}

/* Track */
::-webkit-scrollbar-thumb {
  @apply bg-slate-500; 
}